.main-header {
    display: block;

    &--content {
        display: block;
        padding: 32px 0;

        &--box {
            text-align: center;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: inline-flex;

                img {
                    height: 120px;
                    width: auto;
                }
            }

            h2 {
                display: block;
                font-size: $px32;
                line-height: $px42;
                text-align: center;
                margin: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .main-header {
    
        &--content {
            padding: 32px 0 48px 0;
        }
    }
}

@media (max-width: 576px) {
    .main-header {
    
        &--content {
    
            &--box {
    
                h2 {
                    font-size: $px24;
                    line-height: $px32;
                }
            }
        }
    }
}